 body{
    background-color: black;
 }
 header {
    background-color: #F7E8D1;
    display: flex;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
    align-items: center;

}
.fondo1{
    background-color: white;
    border-radius: 20px;
}

.logo img {
    text-align:left;
    width: 300px;
    height: auto;

}
.titulos{
    flex: 1;
text-align: center;
}
.titulos h1{
    margin: 0;
    color: #925e22;
    font-size: 40px;
}
 .titulos h2{
     margin-top: 10px;
    color: #925e22;
    font-size: 24px;
 }

.fondo1{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 0% auto;
    gap: 5px;
    width: 60%;
    padding: 20px;
}
/* CONTENEDOR PRINCIPAL */
.parra1{
    width: 95%;
    margin: 30px auto;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

/* DISTRIBUCIÓN */
.parra1 article{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

/* TEXTO PRINCIPAL */
.parra1 article > p{
    grid-column: 1;
    background: #fff;
    border: 3px solid #d4d4d4;
    border-radius: 30px;
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
}

/* IMÁGENES */
.img1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
    

.img1 img{
    width: 300px;
    height: auto;
    border-radius: 15px;

    
}

/* TEXTO DE ABAJO */
.p2{
    grid-column: 1;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* PÁRRAFO */
.p2 p{
    margin: 0;
    font-size: 17px;
}

/* BOTÓN */
.p2 a{
    width: 180px;
    text-align: center;
    text-decoration: none;
    background: #925e22;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.p2 a:hover{
    background: #774b1c;
}


 